/* design general */
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}


/* header */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
}

.logo {
    width: 10%;
    height: 100px;
    margin-left: 35px;
    padding-top: 80px;
}

.Menu {
    display: flex;
    margin-right: 200px;
    padding-right: 200px;
}

li {
    font-size: 55px;
    color: white;
    list-style: none;
    padding: 50px;
    margin: 50px;
}


/**********************/


/**** General Design *****/


/**********************/

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /*proximity va s'arrêter en "forçant le scroll"*/
}

body {
    margin: 0px;
}


/********************************/


/**** Definition Part ****/


/********************************/

.partie_1 {
    width: 100%;
    height: 100vh;
    background-image: url('img/undraw_code_thinking_1jeh.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 50% 80%;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
}

.titre_1 {
    padding: 100px 100px;
    width: 30%;
    font-size: 50px;
    color: #000000;
    /*height: 100px;*/
}

.definition {
    width: 30%;
    padding: 112px 100px;
    height: 100px;
    font-size: 20px;
    /*text-align: center;*/
}


/******************************/


/***** Avantages Part *********/


/******************************/


/*.partie_2 {
	width: 100%;
	height: 100vh;
	background-image: url('img/undraw_privacy_protection_nlwy.png');
    scroll-snap-align: start;

}
*/


                                  /* Titre protection données */
                                                  
                                                  .titre {
                                                      margin-top: 60px;
                                                      margin-bottom: 40px;
                                                      font-size: 55px;
                                                  }
                                                  /* image protection */
                                                  
                                                  .boite {
                                                      width: 100%;
                                                      height: 80vh;
                                                      background-image: url(ressources/photos/protection.png);
                                                      background-repeat: no-repeat;
                                                      background-size: 45%;
                                                      background-position: 50% 80%;
                                                  }
                                                  /* Part Protection données */
                                                  
                                                  .argu {
                                                      width: 100%;
                                                      height: 35px;
                                                  }
                                                  
                                                  .internautes {
                                                      text-align: right;
                                                      text-align-last: center;
                                                      margin-top: 550px;
                                                      margin-left: 800px;
                                                      padding-left: 650px;
                                                  }
                                                  
                                                  .français {
                                                      width: 40%;
                                                      text-align: left;
                                                      text-align-last: center;
                                                      margin-left: 300px;
                                                      padding-left: 100px;
                                                  }
                                                  
                                                  strong {
                                                      font-size: 70px;
                                                  }

