/* General Design */

* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}


/* header */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    ;
    background-color: black;
}

.logo {
    width: 10%;
    height: 100px;
    margin-left: 35px;
    padding-top: 80px;
}

.Menu {
    display: flex;
    margin-right: 200px;
    padding-right: 200px;
}

li {
    font-size: 55px;
    color: white;
    list-style: none;
    padding: 50px;
    margin: 50px;
}


/******** Qu'est-ce que l'Open Source ? ***********/

#partie_1 {
    width: 100%;
    height: 100vh;
    background-image: url('img/undraw_code_thinking_1jeh.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 30% 80%;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
}

.titre_open_source {
    padding: 100px 100px;
    width: 30%;
    font-size: 40px;
    color: #00458B;
}

.partie_definition {
    width: 30%;
    padding: 112px 80px;
    display: flex;
    flex-direction: column;
}

.partie_definition p {
    margin: 0px 20px;
    /*text-align: center;*/
    font-size: 25px;
    text-align: center;
    color: #00458B;
}

.definition {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    color: #00458B;
}


/*********** Avantages de l'Open Source ***********/

#partie_2 {
    width: 100%;
    height: 85vh;
    background-color: #E7E5E2;
    scroll-snap-align: start;
    border-top: 1px solid black;
}

.titre_avantages {
    margin: 60px auto;
    width: 30%;
    text-align: center;
    font-size: 35px;
    color: #00458B;
}

.avantages_description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 35px;
}

.description {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0px 50px;
}

.description img {
    height: 150px;
}

.description p {
    /*width: 70%;*/
    text-align: center;
    font-size: 25px;
    color: #00458B;
}


/*************** Part Protection données ***********/

.argu {
    width: 100%;
    height: 35px;
}

.internautes {
    text-align: right;
    text-align-last: center;
    margin-top: 550px;
    margin-left: 800px;
    padding-left: 650px;
}

.français {
    width: 40%;
    text-align: left;
    text-align-last: center;
    margin-left: 300px;
    padding-left: 100px;
}

strong {
    font-size: 70px;
}


/* Titre protection données */

.titre {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 55px;
}


/* image protection */

.boite {
    width: 100%;
    height: 80vh;
    background-image: url(ressources/photos/protection.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 50% 80%;
}


/********** Decouvrir nos logiciels **************/

.discover {
    margin-top: 80px;
}

.accès {
    font-size: 45px;
}

.arrow-down {
    width: 50px;
    height: 30px;
    background-color: black;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 0;
    >* {
        margin: 0 20px;
    }
}


/* Logiciels */

.same {
    color: black;
    text-decoration: none;
    display: inline-flex;
    font-size: 40px;
    margin-top: 20px;
}


/* Les 2 premières fiches des logiciels */

.container {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 250px 500px;
    padding-left: 500px;
}

.content {
    width: 25%;
    height: 1300px;
    margin: 0px 300px;
    flex-direction: row;
    text-align: center;
    background-color: #959595;
    border-radius: 25px;
    box-shadow: 0px 10px 20px gray;
}


/* Fiche Ubuntu */

.premier {
    background-color: #54ffbd;
    border-radius: 10px;
}

.ubuntu,
.fedora {
    width: 60%;
}

.ubun,
{
    margin-bottom: 45px;
}


/* logiciel alternatifs à */

.windows {
    width: 15%;
}

.altwind {
    margin-bottom: 50px;
}


/* avantages et fonctions similaires */

h2 {
    margin-bottom: 25px;
}

.similitudes {
    margin-top: 20px;
}


/* fin de la fiche */

.download {
    width: 13%;
}

.download,
.télécharger {
    margin-top: 40px;
    background-color: white;
    border-radius: 40px;
}

.télécharger {
    padding-bottom: 60px;
}


/* fiche fedora */

.fedora {
    margin-top: 35px;
    margin-bottom: 30px;
}


/* Logiciels DuckDuckgo */

.deuxième {
    background-color: #54ffbd;
    border-radius: 10px;
}

.chrome {
    width: 10%;
}


/* Logiciel brave */

.troisième {
    background-color: #54ffbd;
    border-radius: 10px;
}

.brave {
    width: 40%;
}

.google {
    width: 10%;
}


/* Logiciels Firefoxsend Etherpad Nextcloud */

.container2 {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 250px 500px;
    padding-left: 500px;
}
