/* General Design */

* {
    margin: 0px;
    padding: 0px;
    font-family: zilla slab regular;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}


/************** header ***********************/

header {
    display: flex;
    /*justify-content: space-around;*/
    width: 100%;
    height: 70px;
    background-color: #000000;
}

.logo {
    width: 12.5%;
    height: 50px;
    margin-left: 1.5%;
    margin-top: 10px;
    /*margin-right: 35px;*/
}

nav {
    width: 80%;
    margin-left: 5%;
}

.Menu {
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
}

li {
    font-size: 22px;
    color: white;
    list-style: none;
    /*margin-left: 15%;*/
    font-weight: bold;
    padding: 20px;
}


/******** Qu'est-ce que l'Open Source ? *******/

#partie_1 {
    width: 100%;
    height: 100vh;
    background-image: url('img/undraw_code_thinking_1jeh.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 30% 80%;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
}

.titre_open_source {
    padding: 100px 100px;
    width: 30%;
    font-size: 40px;
    color: #00458B;
}

.partie_definition {
    width: 30%;
    padding: 112px 80px;
    display: flex;
    flex-direction: column;
}

.traduction {
    margin: 0px 20px;
    /*text-align: center;*/
    font-size: 25px;
    text-align: center;
    color: #00458B;
}

.definition {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    color: #00458B;
}


/*********** Avantages de l'Open Source *******/

#partie_2 {
    width: 100%;
    height: 85vh;
    background-color: #E7E5E2;
    scroll-snap-align: start;
    border-top: 1px solid black;
}

.titre_avantages {
    margin: 60px auto;
    width: 30%;
    text-align: center;
    font-size: 35px;
    color: #00458B;
}

.avantages_description {
    width: 100%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*margin: 0px;*/
}

.description {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px 100px;
}

.icone_avantage {
    height: 150px;
    background-color: #E7E5E2;
}

.avantage {
    /*width: 70%;*/
    margin-block-start: 0em;
    text-align: center;
    font-size: 25px;
    color: #00458B;
    margin: 0px;
}


/* Titre protection données */

.titre {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 25px;
}


/********** Partie Protection données *********/

.argu {
    width: 100%;
    height: 35px;
    margin-bottom: 50px;
}

.internautes {
    text-align: right;
    text-align-last: center;
    margin-top: 100px;
    margin-left: 450px;
    /*padding-left: 650px;*/
}

.français {
    width: 40%;
    text-align: left;
    text-align-last: center;
    margin-bottom: 100px;
    margin-left: 80px;
}

strong {
    font-size: 40px;
}


/* image protection */

#boite {
    width: 100%;
    height: 90vh;
    background-image: url(ressources/photos/protection.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 50% 80%;
}


/********** Découvrir nos logiciels ***********/

.discover {
    /*margin-top: 80px;*/
    margin: 50px auto;
    width: 60%;
    text-align: center;
    font-size: 25px;
}

.accès {
    /*font-size: 45px;*/
}

.arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
}

.arrow-down {
    width: 40px;
    height: 20px;
    background-color: #000000;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}


/* Catégories des logiciels */

.liste {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 50px auto;
}

.liste p {
    font-size: 25px;
    color: #000000;
    margin: 20px 10px;
}


/**** Carte Type des logiciels ****/

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.content {
    width: 20%;
    height: 450px;
    margin: 0px auto;
    flex-direction: row;
    text-align: center;
    background-color: #e7e5e2;
    border-radius: 25px;
    box-shadow: 0px 10px 20px gray;
}

.categorie_fiche {
    background-color: #00ffff;
    border-radius: 10px;
    /*color: #FFFFFF;*/
}


/* Logiciel Alternatif à */

.alt {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
}


/* Avantages et Fonctions Similaires */

h2 {
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #54ffbd;
}

.fonctions {
    margin: 20px auto;
}

.similitudes {
    background-color: #54ffbd;
    /*padding: 0px auto;*/
    /*margin: 20px auto;*/
}

.fonctions p {
    margin-bottom: 20px;
}


/* Fin de la Carte */

.download {
    width: 8%;
}

.télécharger {
    background-color: #005e5e;
    color: #FFFFFF;
    border-radius: 40px;
    margin: 20px;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}


/* Fiche Ubuntu */

.ubuntu {
    width: 50%;
}

.windows {
    width: 15%;
}


/* Fiche Fedora */

.fedora {
    width: 50%;
    margin: 25px auto;
}


/* Fiche DuckDuckGo */

.duckduckgo {
    width: 50%;
    margin: 10px auto 15px;
}

.google_search {
    width: 10%;
}


/* Fiche Brave */

.brave {
    width: 50%;
    height: 100px;
}

.google {
    width: 10%;
}


/* Fiche Firefox Send */

.firefoxsend {
    width: 60%;
    margin: 30px;
}

.googledrive {
    width: 10%;
}


/* Fiche Etherpad */

.etherpad {
    width: 50%;
    margin: 15px;
}

.googledoc {
    width: 10%;
}


/* Fiche Nextcloud */

.nextcloud {
    width: 32%;
    margin: 0px;
}

.dropbox {
    width: 12%;
}


/* Logiciels Thunderbird Diaspora & Aether */


/* Fiche Thunderbird */

.thunderbird {
    width: 62%;
    margin: 20px;
}

.gmail {
    width: 10%;
}


/* Fiche Diaspora */

.diaspora {
    width: 25%;
    margin: 10px;
}

.fb {
    width: 10%;
}


/* Fiche Aether */

.aether {
    width: 55%;
    margin: 20px;
}

.reddit {
    width: 25%;
}


/* Menu cliquable */

.tous,
.systeme_exploit,
.gestion_contenu,
.internet,
.messagerie,
.reseaux_sociaux {
    cursor : pointer;
    
    
}